{{define "header"}}

  <style>
    .navbar-collapse {
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
    }

    .navbar-collapse.show {
      max-height: 500px; /* Измените на желаемую максимальную высоту */
    }
  </style>



  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <img class="d-none d-lg-flex" src="logo.png" alt="Логотип" style="width: 50px; height: 50px; margin-right: 10px;">
      <button id="leftToggler"class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="/">Arrowwhi's site</a>
  <button id="rightToggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <img src="https://cdn.icon-icons.com/icons2/1769/PNG/512/4092564-about-mobile-ui-profile-ui-user-website_114033.png" alt="Profile" style="width: 6vh; height: 6vh;">
  </button>
    <div class="collapse navbar-collapse ml-auto justify-content-end" id="navbarCollapse">

    <ul class="navbar-nav ml-auto">
      {{ if .LoginInfo }}
      <li class="nav-item">
        <span class="nav-link"> Вы вошли как <strong>{{.LoginInfo}}</strong>.</span>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Профиль</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Выйти</a>
      </li>
      {{ else }}
      <li class="nav-item">
        <a class="nav-link" href="/login">Войти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reg">Регистрация</a>
      </li>
      {{ end }}
    </ul>
  </div>

  <script>
    var navbarToggler = document.getElementById('rightToggler');
    var navbarCollapse = document.getElementById('navbarCollapse');

    navbarToggler.addEventListener('click', function() {
      navbarCollapse.classList.toggle('show');
    });
  </script>
</nav>


{{end}}

