{{template "base" .}}

{{define "main"}}
    <style>
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #inputLogin {
            border-radius: 5px 5px 0 0;
        }
        #inputPassword {
            border-radius: 0 0 5px 5px;
        }
    </style>

    <div class="m-auto">
    <form id="login-form" class="" onsubmit="submitForm(event)">
        <h1 class="h3 mb-3">Авторизация</h1>
        <div class="form-floating">
            <input type="text" id="inputLogin" class="form-control" placeholder="Логин" required>
            <label for="inputLogin">Логин</label>
        </div>
        <div class="form-floating">
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            <label for="inputPassword">Пароль</label>
        </div>
        <div id="Unsuccessful" class="form-text invisible">
            Неверный логин или пароль
        </div>


        <button class="btn btn-lg btn-primary mt-3 mb-3 w-100" type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="/reg">Зарегистрируйтесь</a></p>
</div>

<script>
    function submitForm(event) {
        event.preventDefault();

        const username = document.getElementById('inputLogin');
        const password = document.getElementById('inputPassword');
        password.classList.remove('is-invalid');
        username.classList.remove('is-invalid');

        const formData = new FormData();
        formData.append('username', username.value);
        formData.append('password', password.value);

        const ph = document.getElementById("Unsuccessful")
        ph.classList.add("invisible")

        fetch('login', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                console.log(response.status)
                if (response.ok) {
                    window.location.href = '/';
                } else {
                    // ph.classList.remove("invisible")
                    password.classList.add('is-invalid');
                    username.classList.add('is-invalid');
                }
            })
            .catch(function(error) {
                console.log('Ошибка:', error);
            });
    }
</script>
{{end}}
