{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{ .title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <style>
            .main {
                padding-top: 70px;
                width: 100%;
            }
        </style>
    </head>
    <body id = "main_body" class="text-center main_body">
        {{template "header" .}}
        <main class="main">
            {{template "main" .}}
        </main>
{{/*        {{template "footer" .}}*/}}
{{/*        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>*/}}
        {{/*        <script src="https://unpkg.com/@popperjs/core@2"></script>*/}}
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
{{/*        <script src="https://bootstrap-4.ru/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>*/}}
    </body>
</html>
{{end}}
