{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{ .title }}</title>
        <style>
            #main_body {
                display: grid;
                flex: 1;
                height: 100vh;
            }
        </style>
    </head>
    <body id = "main_body">
        {{template "header" .}}
        <main>
            {{template "main" .}}
        </main>
        {{template "footer" .}}
    </body>
</html>
{{end}}