{{template "base" .}}

{{define "main"}}
<link rel="stylesheet" href="css/chess.css">
<div class="chessboard">
    <!-- Здесь будут располагаться клетки и фигуры -->
</div>
<script src="js/chess.js"></script>
{{end}}
