{{define "footer"}}

<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <a href="#" id="feedback"> Обратная связь</a> - фиксирование багов и предложение доработок </a>
        </span>
    </div>
</footer>
<script src="/js/feedback.js"></script>
<script>
    createPopup();
</script>
{{end}}
