{{define "footer"}}
<style>
    .footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        border-top: 1px solid #E4E5E7;
        padding-top: 17px;
        padding-bottom: 15px;
        background: #F7F9FA;
        height: 20px;
        color: #6A6C6F;
        text-align: center;
    }
</style>
<footer class="footer">Сайт создан на <strong>Golang</strong></footer>
{{end}}