{{define "footer"}}
<style>
    .footer {
        /*position: fixed;*/
        bottom: 0;
        width: 100vw;
        border-top: 1px solid #E4E5E7;
        padding-top: 10px;
        padding-bottom: 15px;
        background: #F7F9FA;
        height: 15px;
        color: #6A6C6F;
        text-align: center;
        flex-shrink:0
    }
</style>
<footer class="footer">Тут будет погода, время или что-то подобное</footer>
{{end}}