{{template "base" .}}

{{define "main"}}
    <style>
        .main {
            padding-top: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .input_form {
            padding: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .input_form p {
            text-align: center;
            margin-top: 20px;
        }
        .input_form button {
            margin-bottom: 10px; /* Добавляем маргин снизу полям ввода */
            margin-top: 10px; /* Добавляем маргин сверху кнопке "Войти" */
        }

    </style>
<div class="input_form">
    <form id="login-form" class="form-signin" onsubmit="submitForm(event)">
        <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
        <label for="inputLogin" class="sr-only">Логин</label>
        <input type="text" id="inputLogin" class="form-control" placeholder="Логин" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="/reg">Зарегистрируйтесь</a></p>
</div>

<script>
    function submitForm(event) {
        event.preventDefault();

        const username = document.getElementById('inputLogin').value;
        const password = document.getElementById('inputPassword').value;

        // Создание объекта с данными для отправки
        const formData = new FormData();
        formData.append('username', username);
        formData.append('password', password);

        // Отправка данных формы через POST-запрос с использованием fetch
        fetch('login', {
            method: 'POST',
            body: formData
        })
            .then(function(response) {
                // Обработка ответа от сервера
                if (response.ok) {
                    // Перенаправление на страницу index.html при успешной авторизации
                    window.location.href = '/';
                } else {
                    // Вывод уведомления при неуспешной авторизации
                    showErrorMessage();
                }
            })
            .catch(function(error) {
                // Обработка ошибок
                console.log('Ошибка:', error);
            });
    }

    function showErrorMessage() {
        const errorMessage = document.createElement('p');
        errorMessage.textContent = 'Введен неправильный логин/пароль';
        errorMessage.style.color = 'red';
        errorMessage.style.textAlign = 'center';
        const container = document.querySelector('.container');
        container.appendChild(errorMessage);
    }
</script>
{{end}}
