{{template "base" .}}

{{define "main"}}
<style>
    .main {
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /*width: 75vh;*/
    }

</style>
    <div class="m-4" style="display: block; max-width: 800px">
    <form class="needs-validation" novalidate="" action="/reg" method="post" onsubmit="{return validateForm(event)}">
        <h1 class="mb-5">Регистрация</h1>

        <div class="row g-3">
            <div class="col-sm-6 form-floating">
                <input type="text" class="form-control" id="fName" name="fName" placeholder="Ваня" value="" required>
                <label for="fName" class="form-label">Имя*</label>
                <div class="invalid-feedback">
                    Введите имя
                </div>
            </div>
            <div class="col-sm-6 form-floating">
                <input type="text" class="form-control" id="lName" name="lName" placeholder="Ванин" required>
                <label for="lName" class="form-label">Фамилия</label>
                <div class="invalid-feedback">
                    Введите фамилию
                </div>
            </div>
            <div class="col-12 form-floating">
                <input type="text" class="form-control" name="login" id="username" placeholder="Username" required>
                <label for="username" class="form-label">Логин*</label>
                <div class="invalid-feedback">
                    Логин может содержать только английские буквы, цифры, нижнее подчеркивание и тире
                </div>
            </div>
            <div class="col-12 form-floating">
                <input type="password" class="form-control" name="password" id="password" placeholder="Не меньше 8 символов" required>
                <label for="password" class="form-label">Пароль*</label>
                <div class="invalid-feedback">
                    Пароль должен содержать не меньше 8 символов
                </div>
            </div>
            <div class="col-12 form-floating">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Не меньше 8 символов" required>
                <label for="confirmPassword" class="form-label">Пароль (повторно)*</label>
                <div class="invalid-feedback">
                    Пароли не совпадают!
                </div>
            </div>

        </div>

        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit">Зарегистрироваться</button>
    </form>
    </div>
</div>
<script>
    function validateForm() {
        let out = true;
        // event.preventDefault();

        const fname = document.getElementById('fName');
        const lname = document.getElementById('lName');
        const login = document.getElementById('username');
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirmPassword');
        const loginPattern = /^[A-Za-z0-9_-]+$/;

        if (fname.value.length === 0) {
            document.getElementById('fName').classList.add('is-invalid');
            out = false
        } else {
            document.getElementById('fName').classList.remove('is-invalid');
        }


        if (login.value.length ===0 || !loginPattern.test(login.value)) {
            document.getElementById('username').classList.add('is-invalid');
            out = false
        } else {
            document.getElementById('username').classList.remove('is-invalid');
        }

        if (password.value.length < 8) {
            document.getElementById('password').classList.add('is-invalid');
            out = false
        } else {
            document.getElementById('password').classList.remove('is-invalid');
        }

        if (password.value !== confirmPassword.value) {
            document.getElementById('confirmPassword').classList.add('is-invalid');
            out = false
        } else {
            document.getElementById('confirmPassword').classList.remove('is-invalid');
        }


        return out;
    }
</script>
{{end}}
